#backgroundModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105vh;
    transition: opacity .5s ease-in-out;

    &.hidden {
        transform: scale(0);
        opacity: 0;
    }

    &.show {
        background-color: black;
        opacity: .3;
        transform: scale(1);
    }
}

main {
    padding: 3em 0;

    section {
        @include flex(space-around);
        flex-wrap: wrap;
    }

    article {
        width: 28%;
      }
      
      .card {
        @include flex(space-between,column);
        padding: 1em;
        margin: 1em 0;
        height: 17em;
        font-size: 1.3em;
        transition: all .3s ease-in-out;
    
            p {
                padding: 1em 0;
                word-break: break-word;
            }

            button {
                padding: .5em 3em;
                border-radius: 15px;
                border: 1px solid black;
                transition: all .3s ease-in-out;

                &:hover, &:focus {
                    box-shadow: 0 0 5px black;
                }
            }

            &.cardNormal{
                border: 2px solid black;
            }

            &.cardColor{
                border: 2px solid blue;
                box-shadow: 0px 0px 15px blue;
            }
      }

    #modal {
        position: absolute;
        top: -50%;
        left: 50%;
        width: 50%;
        transform: translateX(-50%);
        transition: all .5s ease-in-out;
        
    
        &.modalHidden {
            top: -50%;
        }
    
        &.modalShow {
            top: 20%;
        }
    }

    #modalContent {
        position: relative;
        @include flex($direction : column);
        background-color: rgb(51, 51, 51);
        color: white;
        padding: 3em;
        border-radius: 2em;
        text-align: center;
    
        p {
            font-size: 1.3em;
            padding: 2em 0;
            word-break: break-word;
        }
    
        #closeButton {    
            cursor: pointer;
            position: absolute;
            width: 30px;
            height: 6px;
            top: 1.5em;
            right: 1em;

            &::before, &::after {
                content: "";
                position: absolute;
                width: 35px;
                height: 8px;
                top: 0;
                left: 0;
                background-color: red;
                border-radius: 50px;
                box-shadow: 0 0 1px black;
            }
    
            &::before {
                transform: rotate(-45deg);
            }
    
            &::after {
                transform: rotate(45deg);
            }
        }
    }
}
